.bg-blue {
    background-color: rgb(173, 232, 236);
}

.btn-primary {
    background-color: #0dcdfd;
    border-color: #0dcdfd;
}

.btn-success {
    background-color: #3cd88f;
    border-color: #3cd88f;
}

body {
    font-family: 'Inter', sans-serif;
    text-transform: uppercase;
}