$primary: #3a578b;
$secondary: #fff3c0;
$success: #50a385;

$font-family-base: 'Poppins';

.bg-third {
    background-color: #f2c65f;
}

.bg-fourth {
    background-color: #d68033;
}

.grid-image {
    max-height: 30vh;
    object-fit: contain;
}

@keyframes fadeIn {
    from { opacity: 0; }
    to { opacity: 1; }
}
  
.caption-enter {
    opacity: 0;
    animation: fadeIn 2s ease forwards;
}


@import 'node_modules/bootstrap/scss/bootstrap';